<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <title>首页</title>
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="首页">
    <!-- 页面描述 -->
    <meta name="description" content="不超过150个字符"/>
    <!-- 页面关键词 -->
    <meta name="keywords" content=""/>
    {# 引入h5头部项}
    {@include file://./common/head-item.html, _}
    <link rel="stylesheet" href="${jscssDomain}/node_modules/amazeui-touch/dist/amazeui.touch.min.css">
    <link rel="stylesheet" href="${jscssDomain}/css/common.css">
    <link rel="stylesheet" href="${jscssDomain}/css/changeable.css">
</head>
<body>
    <div class="react-box" id="reactContainer">
        <div class="loading-round">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
            <div class="loading-text">请稍候。。。</div>
        </div>
    </div>

<script type="text/javascript" src="${jscssDomain}/js/lib-modules.js"></script>
<script type="text/javascript" src="${jscssDomain}/js/user/index.js"></script>
</body>
</html>