<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    我是首页
<!--<script type="text/javascript" src="/bower_components/requirejs/require.js"></script>-->
<script type="text/javascript" src="/js/common.js"></script>
<!--<script type="text/javascript" src="/js/a.js"></script>-->
<!--<script type="text/javascript" src="/js/d.js"></script>-->
<script type="text/javascript" src="/js/a1.js"></script>
<script type="text/javascript" src="/js/d1.js"></script>
<script type="text/javascript">

</script>
</body>
</html>