<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <title>首页</title>
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="首页">
    <!-- 页面描述 -->
    <meta name="description" content="不超过150个字符"/>
    <!-- 页面关键词 -->
    <meta name="keywords" content=""/>
    {# 引入h5头部项}
    {@include file://./common/head-item.html, _}
</head>
<body>
    我是首页
    <div id="example"></div>

<script type="text/javascript" src="/bower_components/react/react.min.js"></script>
<script type="text/javascript" src="/bower_components/react/react-dom.min.js"></script>
<script type="text/javascript" src="/js/index/index.js"></script>

</body>
</html>