<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <title>账户</title>
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="账户">
    <!-- 页面描述 不超过150个字符 -->
    <meta name="description" content=""/>
    <!-- 页面关键词 -->
    <meta name="keywords" content=""/>
    {# 引入h5头部项}
    {@include file://./common/head-item.html, _}
    <link rel="stylesheet" href="${jscssDomain}/node_modules/amazeui-touch/dist/amazeui.touch.min.css">
    <link rel="stylesheet" href="${jscssDomain}/css/common.css">
    <link rel="stylesheet" href="${jscssDomain}/css/font/loveicon/loveicon.css">
    <script type="text/javascript" src="${jscssDomain}/node_modules/react/dist/react.min.js"></script>
    <script type="text/javascript" src="${jscssDomain}/node_modules/react-dom/dist/react-dom.min.js"></script>
    <script type="text/javascript" src="${jscssDomain}/node_modules/amazeui-touch/dist/amazeui.touch.min.js"></script>
    <script type="text/javascript" src="${jscssDomain}/node_modules/redux/dist/redux.min.js"></script>
    <script type="text/javascript" src="${jscssDomain}/node_modules/react-redux/dist/react-redux.min.js"></script>
    <script type="text/javascript" src="${jscssDomain}/node_modules/redux-logger/dist/index.min.js"></script>
</head>
<body>
<div class="react-box" id="reactContainer"></div>

<script type="text/javascript" src="${jscssDomain}/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="${jscssDomain}/js/user/index.js"></script>
</body>
</html>