@font-face {
    font-family: "loveicon";
    font-weight: 400;
    font-style: normal;
    src: url('iconfont.woff') format('woff'), /* chrome, firefox */
    url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg#loveicon') format('svg'); /* iOS 4.1- */
}

.icon {
    font-family: Ratchicons,loveicon,sans-serif;
}
.icon-password:before { content: "\e600"; }
.icon-closeeye:before { content: "\e601"; }
.icon-openeye:before { content: "\e602"; }
.icon-imgcode:before { content: "\e603"; }